# .env.example

# --- Project settings ---
PROJECT_NAME="DJW"
DEBUG=True

# --- DB ---
POSTGRESQL_URL=""
REDIS_URL=""

# --- AI API ---
OPENAI_API_KEY=""
GEMINI_API_KEY=""
ANTHROPIC_API_KEY=""
XAI_API_KEY=""

# --- Security ---
SECRET_KEY=""
ALGORITHM="HS256"
ENCRYPTION_KEY=""